extends layout

block head
  link(rel='stylesheet', href='/css/map.css')
  link(rel='stylesheet', href='/css/importPins.css')

block content
  div.container-fluid
    include includes/importPins
    div.navbar.navbar-static-top
      div.navbar-inner
        a.brand(href='#') mappins 
        ul.nav
          li
            a(href='#importModal', role="button", data-toggle="modal") Import 
          li
            a(href='#') Export 
          li
            a(href='#') Edit 

    #mapCanvas

  script(src='/js/jquery.js')
  script(src='/js/underscore.js')
  script(src='/js/knockout.js')  
  script(src='/bootstrap/js/bootstrap-modal.js')
  script(src='http://maps.google.com/maps/api/js?sensor=false')  
  script(src='/js/mpins.js')
  script(src='/js/gmap.js')
  script(src='/js/importPins.js')
  script
    $(function() {
      var gmap = mpins.gmap.create(document.getElementById("mapCanvas"), { lat: -37.824577, lng: 145.051521 }, 'img/pin-red.png');
      gmap.loadPins('pins', 'img/pin-red.png');
      this.vm = mpins.importPinsVM.create(gmap);
      ko.applyBindings(this.vm, document.getElementById("importModal"));
    });
